* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter;

}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    /* text-align: center; */
  }

#main {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    height: 100vh;
}


.password-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  #password {
    padding-right: 30px; /* To accommodate the icon */
  }

  #eye {
    position: absolute;
    right: 10px;
    cursor: pointer;
    
  }

#right-section form {
    margin-left: 150px;
}

#right-section form h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 10px;
}

#right-section form p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #8E8E93;
    margin-bottom: 20px;

}

#right-section form label {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

}

#right-section form input {
    padding: 7px 100px 7px 7px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-bottom: 10px;
}

#login-button {
    text-align: left;
    cursor: pointer;

}

#login-button button {
    background: #f3bd00;
    padding: 6px 143px 6px 143px;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

#login-button a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

#sign-with-google {
    background-color: #fefefe;
    /* padding: 5px 85px 10px 85px; */
    border: none;
    box-shadow: 1px 1px 10px 1px darkgray;
    border-radius: 9px; 
    margin-bottom: 50px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

/* #sign-with-google img{
    margin-top: 10px;
} */

#sign-with-google a{
    font-size: 16px;
    color: #1c1c1e;
    font-weight: 400;
    text-decoration: none;
}
#signup {
    text-align: center;
}

#signup a{
    font-weight: 700;
    color: #0948b4;
    text-decoration: none;
}

header{
    border-bottom: 2px solid #cbcbcb;
}
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
}

.nav .logo {
    display: flex;
    align-items: center;
}

.nav .menu {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.nav .menu p {
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}

#intro{
    margin-left: 30px;
    margin-top: 50px;
}

#intro h1{
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

#intro p{
    color: #8E8E93;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
}

#intro ul{
    margin-left: 20px;
}

#intro li{
    color: #8E8E93;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
}

#quiz-start-section{
    text-align: center;
    margin-top: 50px;
    background-color: white;
    box-shadow: 2px 2px 8px 2px gray;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 40px;
    border-radius: 10px;
    margin-bottom: 100px;
}

#banner-img{
    margin-bottom: 20px;
}

#quiz-start-section h2{
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 60px;
}

#quiz-start-section p{
    font-family: Inter;
    font-size: 15px;
    color: #8E8E93;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 30px;
}


#start-quiz-button{
    margin-bottom: 20px;
    cursor: pointer;
}

#start-quiz-button a{
    background: #f3bd00;
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 6px 60px 6px 60px;
    border-radius: 15px;
    border: none;
    
}


#quiz{
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}
#page{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

#page a{
    text-decoration: none;
    
}
#next-page{
    display: flex;
   justify-content: space-between;

}


#next-page a{
    text-decoration: none;
}

#quiz h1{
    font-family: Inter;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #1c1c1e;
}

#quiz h2{
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    margin-top: 30px;
    color: #1c1c1e;
}

#quiz p{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    color: #8E8E93;
}



#quiz ol li{

    font-family: Inter;
    font-size: 24px;
    font-weight:400;
    padding-left: 10px;
}

#quiz a{
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    line-height: 38.4px;
    color: #0948B4;

}


#previousBtn i{
    text-decoration: none;
    
}


.logout-button {
    background-color: #f44336; /* Red color */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.logout-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
}


#option-list li:hover {
    background-color: #f3bd00; 
    width: fit-content;
    border-radius: 10px;
  }
   

    

    .header {
      font-size: 24px;
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 15px;
      text-align: center;
    }

    .sub-header {
      color: #888;
      font-size: 16px;
      margin-bottom: 30px;
      text-align: center;
    }

    .podium {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 30px;
    }

   

    #score1 {
        text-align: center;
        font-size: 20px;
        font-weight: 900;
    } 

    #score2 {
        text-align: center;
        font-size: 20px;
        font-weight: 900;
    } 

    #score3 {
        text-align: center;
        font-size: 20px;
        font-weight: 900;
    } 


    .rankings {
      list-style: none;
      padding: 0;
      margin: 0;
      position: relative;
    }

    .rankings li {
      display: flex;
      justify-content: space-between;
      padding: 20px 20px;
      background: #fefefe;
    font-size: 20px;
    font-weight: 800;
    line-height: 38.4px;


      margin: 5px 0;
      border-radius: 5px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      margin-right: 20px;
      margin-left: 20px;
    }
    .position1{
      border-radius: 16px 16px 0px 0px;
      background: #F4CE4A;
      width: 210px;
      height: 350px;
      flex-shrink: 0;
      margin-left: 20px;
      margin-right: 20px;
      
    }
    .position1 img{
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: -97px;
        border: 5px solid #F4CE4A;
    }
    .rank1{
       
        font-family: Inter;
        font-size: 32px;
        font-weight: 700;
        line-height: 38.4px;
        text-align: center; 
        margin-bottom: 114px;
        margin-top: -102px;
        margin-left: -9px;
    }

    .rank2{
       
        font-family: Inter;
        font-size: 32px;
        font-weight: 700;
        line-height: 38.4px;
        text-align: center; 
        margin-bottom: 114px;
        margin-top: -102px;
        margin-left: -9px;
    }
    .score{
        color: var(--black-1, #1C1C1E);
        text-align: center;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 38.4px */
    }
   
    .position-first{
        border-radius: 16px 16px 0px 0px;
        background: var(--Brand-Yellow, #F3BD00);
        width: 210px;
        height: 419px;
        flex-shrink: 0;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    
    }
    .position-first img{
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: -67px;
        border: 5px solid #F4CE4A;
    }

    .position3{
        width: 210px;
        height: 300px;
        flex-shrink: 0;
        border-radius: 16px 16px 0px 0px;
        background: #F7E296;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
   
    .position1 img{
        border-radius: 50%;
        display: block;
        margin-left: 46px;
        margin-right: auto;
        width: 50%;
      
    
    }

    .position3 img{
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: -97px;
        border: 5px solid #F7E296;
    }

    .clipart img{
        position: absolute;
        width: 100%;
        height: 60vh;
        margin-top: -150px;
    }


    .leaderboard{
        margin-bottom: 100px;
    }





 
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
  }
  
  .modal-actions button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: #ccc;
  }
  
  #confirmLogoutBtn {
    background-color: #f44336;
    color: white;
  }
  

  /* ----------------------------admin Css-------------------------------------------------- */
